/*
 * Title:   Custom Style File
 * Author:  http://themeforest.net/user/soaptheme 
 */



body {
     padding-top: 0;
}

.navbar-brand {
     line-height: 24px;
}


#header .logo a, #footer .logo a, .chaser .logo a {
     background: none;
}

#header .logo img, #footer .logo img, .chaser .logo img {
     opacity: 1;
}

#header .logo {
     margin: 5px 0;
}

#main-menu ul.menu > li > a, .chaser ul.menu > li > a {
     height: 75px;
     line-height: 80px;
}


.section {
     padding-top: 20px;
     padding-bottom: 20px;
}

#footer.style51 > .footer-wrapper {
     background: url('../template/images/themes/footer/style05/sky.png') no-repeat center bottom;
}

.reviews-details {
     margin-top: 15px;
}

.reviews-details h4 {
     margin-bottom: 10px;
}



/*Add hotel*/

.no-hotel i {
     font-size: 52px;
}

#hotelSaveBtn, #roomSaveBtn {
     margin-bottom: 10px;
     margin-top: 10px;
}

.tab-container .tab-content .tab-content {
     width: 100%;
}

#add_hotel ul.tabs {
     width: 100%;
     text-align: right;
}

#add_hotel ul.tabs li{
     display: inline-block;
}

.tab-container.full-width-style.arrow-left #add_hotel ul.tabs li.active a {
     border-left: none;
     border-bottom: 2px solid #fdb714;
}

.tab-container.full-width-style.arrow-left #add_hotel ul.tabs li.active a {
     background-color: #f5f5f5;
}

.tab-container.full-width-style #add_hotel ul.tabs li a {
     font-weight: bold;
     font-size: 16px;
     height: auto;
     padding-top: 5px;
     padding-bottom: 5px;
}

.tab-container.full-width-style.arrow-left #add_hotel ul.tabs li.active a:after {
     display: none;
}


.rooms-list .room {
     border:1px solid #ccc;
     margin-bottom: 30px;
     padding: 10px;
}

.rooms-list .room .room_label {
    font-weight: bold;
}

ul.room_extras li {
     display: inline-block;
     margin-right: 10px;
}

/*Googlemap*/

#dashboardHotelMap  {
     height: 400px;
}

#showMeOnMap {
     margin-bottom: 10px;
     margin-top: 10px;
}


/*Amenities Tabs*/

label.hotel_facility, label.room_facility {
     width: 25%;
     float: left;
}


/*Messages*/

.toast-message h4 {
     color:#fff;
     margin-bottom: 0;
     font-weight: bold;
}

/* Register/Login Page */

.why-register h2 {
     font-size: 42px;
     text-align: center;
}

.why-register ul {
     font-size: 28px;
}

.why-register ul li{
     padding: 20px;
}



/*Upload Main Image*/

#uploadMainPhotoBtn, #deleteMainPhotoBtn {
     width: 50%;
     float: left;
}

#image-preview {
     width: 100%;
     max-width: 500px;
     height: 250px;
     position: relative;
     overflow: hidden;
     background-color: #ffffff;
     color: #ecf0f1;
     border:1px solid #ccc;
}
#image-preview input {
     line-height: 200px;
     font-size: 200px;
     position: absolute;
     opacity: 0;
     z-index: 10;
}
#image-preview label {
     position: absolute;
     z-index: 5;
     opacity: 0.8;
     cursor: pointer;
     background-color: #bdc3c7;
     width: 200px;
     height: 50px;
     font-size: 20px;
     line-height: 50px;
     text-transform: uppercase;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
     text-align: center;
}

#pagination li {
     display: inline-block;
     border:1px solid #49ACE4;
     font-size: 16px;
     margin-right: 2px;
     margin-left: 2px;
}

#pagination li.active {
     background: #49ACE4;
     color:#fff;
}

#pagination li a {
     display:block;
     padding: 7px 14px;
     cursor: pointer;
}

/*Dashboard Messages*/

tr.unreaded-message {
     font-weight: bold;
}

.chat-message {
     width: 90%;
     font-size: 16px;
     color:#fff;
     padding: 20px;
     border-radius: 10px;
     margin-bottom: 30px;
}

.message-client {
     float: left;
     background: #01b7f2;
}

.message-host {
     float: right;
     background: #FDB716;
}

.info {
     font-size: 14px;
}
.mail {
     font-style: italic;
}


/*Hotel Details*/

.single-hotel ul.hotel_facilities li {
     display: inline-block;
     padding: 15px;
     font-size: 16px;
}

.single-hotel ul.hotel_facilities li i {
     margin-right: 5px;
}

.single-hotel ul.room-facilities {
     width: 650px;
}

.single-hotel .listing-style3.flight .room .box-title {
     float: none;
}

.single-hotel .listing-style3.flight .room .room-facilities li {
     display: inline-block;
     margin-right: 10px;
}

.single-hotel #hotelMap {
     height: 612px;
}

.single-hotel #hotel-main-content #contacts-tab {
     padding: 15px;
}

.contact-group {
     font-size: 14px;
     margin-bottom: 10px;
}

#hotelsFilterForm .select2-container {
    width: 100%!important;
}


.ul-left-thumb .thumb {
     float: left;
     margin-right: 10px;
}

.single-hotel-right .image-box.style14 .details {
     padding-top: 0;
}

/*Hotels Filter*/


.infowindow {
     width: 400px;
}

.infowindow .image {
     padding: 0;
}

.infowindow h4 {
     margin-bottom: 5px;
}

.map-wrap {
     position: relative;
}

#content.map-wrap {
     padding-top: 0;
}

#map_wrap {
 position: absolute;
     width: 100%;
     height: 100%;
     z-index: 9;
}

.left-sidebar-map {
     z-index: 10;
     width: 300px;
     padding: 20px;
     margin-top: 30px;
}

/*Review ratings*/

.rating-stars {
     overflow: hidden;
     display: inline-block;
     font-size: 0;
     position: relative;
}

.rating-input {
     float: right;
     width: 5px;
     height: 16px;
     padding: 0;
     margin: 0 0 0 -16px;
     opacity: 0;
}
.rating-stars:hover .rating-star:hover,
.rating-stars:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
     background-position: 0 0;
}
.rating-star,
.rating-stars:hover .rating-star {
     position: relative;
     float: right;
     display: block;
     width: 16px;
     height: 16px;
     background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}

#hotel-write-review {
     display: none;
     margin-top: 25px;
}

#hotel-write-review form.review-form {
     margin-top: 25px;
}

#hotel-write-review .sort-trip li i,
#cruise-write-review .sort-trip li i {
     margin: 0 auto;
}

ul.sort-trip {
     padding: 15px;
}

.tip {
     text-transform: none;
     padding: 0 25px;
}

.guest-review .author img {
     width: auto;
}

/*Hotel Filters*/

#steps-fivepercent-slider .ui-slider-tip {
     visibility: visible;
     opacity: 1;
     top: -30px;
}

.ui-slider-horizontal.ui-slider-pips {
     margin-bottom: 3.5em;
}

.ms-options-wrap > .ms-options {
     width: 300%;
}

.ms-options-wrap > button:focus, .ms-options-wrap > button {
     padding: 0 15px;
}

.ms-options-wrap button:hover {
     background: transparent;
}

.ordering-select {
     margin-top: 15px;
}

.single-room {
     margin-bottom: 10px;
}



/*HomePage*/

/*Destinations*/


a.dest_image_link {
     display: block;
     width: 270px;
     height: 160px;
     background-size: cover;
}

.top-section {
     background: #f5f5f5;
     padding-top: 25px;
}

.top-section .hotel-list {
     margin-top: 0;
}

.top-section .listing-style3 .box,
.top-section .listing-style3.box {
     margin-bottom: 26px;
}


.global-map-area {
     background: url('../images/beach_bg.jpg') no-repeat;
}

h2.big-title {
     font-size: 48px;
     font-weight: bold;
     line-height: 1;
}

.sub-title {
     font-size: 18px;
     color: #fff;
}

.titles-block {
     margin-bottom: 25px;
}


.box-image img {
     height: 160px!important;
}

/*Footer*/


#footer.style5 > .footer-wrapper > .container:first-child:before {
     display: none!important;
     width: 463px;
     height: 105px;
     bottom: 0;
     left: 0;
     background-image: url(http://placehold.it/463x105);
}

#footer.style5 > .footer-wrapper > .container:first-child:after {
     display: none!important;
     width: 297px;
     height: 145px;
     bottom: 0;
     right: 0;
     background-image: url(http://placehold.it/297x145);
}

